main {
    margin: auto 10%;
    width: 80%;
    min-width: 380px;
  }
  #layout{
    border : 2px solid purple;
    position:relative;
    min-height: 100vh;
  }
  
  @media screen and (max-width: 1224px) {
    main {
      margin: auto 5%;
      width: 90%;
    }
  }