main {
    /* margin: auto 10%;
    width: 80%; */
    min-width: 380px;
    border : 1px green solid;
  }
  #layout{
    border : 2px solid purple;
    position:relative;
    min-height: 100vh;
    padding: 0 30px;
  }
  