main {
  margin: 10px 10%;
  width: 80%;
  flex-grow: 1;
  min-width: 320px;
  flex-grow: 1;
  }
#layout{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: orange;
  border : 1px blue solid; */
}
  @media screen and (max-width: 1490px) {
    main {
      width: 90%;
      margin: 10px 5%;
    }
  }

  @media screen and (max-width: 1224px) {}


  /* 
@media screen and (max-width: 768px) {}

@media screen and (max-width: 375px) {} */