header {
    align-items: center;
    display: inline-flex;
    margin: 40px 10%;
    width: 80%;
    min-width: 380px;
  }
  
  header > img {
    height: 68px;
  }
  
  nav {
    justify-content: flex-end;
    display: flex;
    width: 100%;
  }
  
  .link {
    margin: auto 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
  }

  .link:hover {
    color: #e67b7b;
  }
  
  .link:focus {
    border-bottom: 1px solid #ff6060;
  }
  
  @media screen and (max-width: 1224px) {
    header {
      margin: 40px 5%;
      width: 90.5%;
    }
    
    header > img {
      height: 47px;
    }
  
    .link {
      margin: auto 5px;
    }
  }

@media screen and (max-width: 768px) {
  .link {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  .link {
    font-size: 16px;
  }
}