
.owerLodging{
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.identity{
flex-direction: column;
line-height: 10px;
}
.avatarSize{
    width: 64px;
    border-radius: 50%;
}
.owerAvater{
    background-color: #C4C4C4;
}
@media screen and (max-width: 768px) {

    .owerLodging{
      justify-content: flex-start;
      gap: 20px;
    }
}