.accordionItem{
    margin-bottom: 2%;
    list-style-type: none;  
    opacity: 0;
    -webkit-animation: fonduHaut 1s linear forwards;
    animation: fonduHaut 1s linear forwards;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}

  /*faire apparaitre et glisser les collapse avec effet de fondu au chargement de la page*/
  @-webkit-keyframes fonduHaut {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
@keyframes fonduHaut {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);  
    }
  }

.accordionItem:hover{
    cursor: pointer; 
}

.accordionToggle{
    position: relative;
    width: 100%;
    border-radius: 5px;
} 

.accordionTitle{
    font-size: 24px;
    margin : 10px 10px -5px 10px;
    padding: 7px;
}

.accordionArrow{
    position: absolute;
    right : 15px;
    top: 10px;
    margin-left: 20px;
}

.accordionContent{
    padding: 20px 10px 0 10px;
    min-height: 80px;
    border-radius: 3px;

}

@media screen and (max-width: 1490px) {

    .accordionItem{
        margin-bottom: 40px;
        list-style-type: none;  
    }

    .accordionItem{
       max-width: 100% ;
    }

    .accordionTitle{
    font-size: 1.2em;
     line-height: 40px;
    
    }
    .accordionArrow{
        right : 2%;
        top: 13px;
        margin-left: 2%;
    }

}
  
