.accordionItem{
    margin-bottom: 2%;
    list-style-type: none;  
}

.accordionToggle{
    position: relative;
    width: 100%;
    border-radius: 5px;
} 

.accordionTitle{
    font-size: 24px;
    margin : 10px 10px;
    padding: 7px;
}

.accordionArrow{
    position: absolute;
    right : 15px;
    top: 5px;
    margin-left: 20px;
}

.accordionContent{
    padding: 10px;
    min-height: 80px;
    border-radius: 3px;
}

@media screen and (max-width: 1490px) {

    .accordionItem{
        margin-bottom: 40px;
        list-style-type: none;  
    }

    .accordionItem{
       max-width: 100% ;
    }

    .accordionTitle{
    font-size: 1.2em;
     line-height: 40px;
    
    }
    .accordionArrow{
        right : 2%;
        top: 13px;
        margin-left: 2%;
    }

}
  
