#box404 {
  display: flex ;
  flex-direction: column;
  align-items:  center;
}

.titre404 {
    font-weight: 700;
    font-size: 150px;  
    line-height: 0;
}

.message404{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8%;
}

.linkToHome{
    font-size: 18px;
}

@media screen and (max-width: 1490px) {

    #box404 {
        padding: 20px 0;
      }
    
      .message404{ 
        font-size: 16px;
        margin-bottom: 80px;
    }
    .linkToHome{
        font-size: 14px;  
    }

  }
