@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

 html, body {
  font-family: "Montserrat", 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

*{ 
  color: #FF6060;
}

.policePrimary{
font-style: normal;
font-weight: 500;
}

.white{
  color: #FFFFFF;
}

.backgroundPrimary{
  background-color: #FF6060;
}

.backgroundSecondary{
  background-color: #F7F7F7;
}