
.oneLodging{
    /* border: 1px salmon solid; */
    width: 100%;
    height: auto;  
}

.infoLodging{
    position : relative;
    /* border: 1px goldenrod solid; */
}

.titleLodging{
    margin-bottom: 0px;
}

.localisationLodging{
    margin-top: 5px;
}

.infoOwerLodging{
    position : absolute;
    top : 0px;
    right: 0px; 
}

.tagLodging{
    margin: 30px 0 20px 0;
    /* border: 1px green solid; */
}

.collapseLodging{
    display: flex;
    justify-content: space-between;
    gap: 3%;
    /* border: 1px indigo solid; */
}

.collapseLodging.box{
    min-width: 580px;
}

.bigBox{
width: 70%;

}

.smallBox{
width: 30%;

}