
.oneLodging{
    width: 100%;
    height: auto;  
}

.infoLodging{
    display: flex;
}

.descriptionLodging{
    flex-grow: 1;
}

.titleLodging{
    margin-bottom: 0px;
}

.localisationLodging{
    margin-top: 5px;
}

.tagLodging{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 5px;
    margin: 5px 0 10px 0;  
}

.collapseLodging{
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.collapseLodging.box{
    min-width: 580px;
}

.box{
    width: 50%;
}

.list{
    line-height: 5px;
}

@media screen and (max-width: 1768px) {

    .collapseLodging{
       flex-direction: column;
       flex-grow: 1;
    }
    .box{
        width: 100%;
    }

    .infoLodging{
    
     flex-direction: column;
  
    }
}