/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); */
*{ 
  /* font-family: "Monstserrat"; */
  color: #FF6060;
}

.policePrimary{
font-style: normal;
font-weight: 500;
}

.white{
  color: #FFFFFF;
}

.backgroundPrimary{
  background-color: #FF6060;
}

.backgroundSecondary{
  background-color: #F7F7F7;
}


main {

    margin: auto 10%;
    width: 80%;
  }
  
  @media screen and (max-width: 1490px) {
    main {
      margin: auto 5%;
      width: 90%;
    }
  }